@use './scss/variables.scss' as *;

//@font-face {
    //font-family: 'NTSomic';
    //src: url('../../assets/fonts/01_NTSomic-Regular.ttf');
//}


.app {
  position: relative;
  display: flex;
  flex-direction: column; // Элементы расположены вертикально
  justify-content: center; // Вертикальное центрирование
  align-items: center; // Горизонтальное центрирование
  background-color: darken(rgba(255, 255, 255, 0.356), 10%);
  padding: 20px; // Уменьшен padding для лучшего центрирования
  border-radius: 20px;
  width: 900px;
  height: 580px;
  min-width: 300px; // Добавлено min-width для адаптивности
  min-height: 300px; // Добавлено min-height для адаптивности
}

.absolute {
  position: absolute;
  top: 0;
  right: 7rem;
}