@font-face {
    font-family: 'Iceland';
    src: url('../../assets/fonts/Iceland-Regular.ttf');
  
    @font-face {
      font-family: 'CormorantGaramond';
      src: url('../../assets/fonts/CormorantGaramond-Regular.ttf');
    }
  }

  .wrapper-chat {
    flex-direction: column;
    font-family: 'CormorantGaramond';
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: 500px;
   

    .chat-title {
        display: flex;
        font-family: 'Iceland';
        justify-content: center;
        text-align: center;
        font-size: clamp(1em, 3vw, 6em); 
        color: rgb(0, 0, 0);
      }
    .chat{
        font-family: 'CormorantGaramond';
        font-size: 0.9em;
       
    }
    
    .chat-input {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 40px;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 0.7em;
        color: rgb(222, 0, 0);
        box-sizing: border-box;
        background-color: #000000c7;
        padding-left: 25px;
      }
    
      .chat-buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
 
      }
      .chat-messages {
        overflow-y: auto;
        max-height: 150px;
        font-family: 'NTSomic';
        font-size: 0.8em;
        padding: 8px;
        font-weight: bold;
        border-radius: 30px;
        margin-bottom: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;}
      
   
  }

