@font-face {
    font-family: 'NTSomic';
    src: url('../../assets/fonts/01_NTSomic-Regular.ttf');
   }

   body {
    font-family: 'NTSomic';
    margin: 0;
    padding: 0;
    background-image: url('../../assets/img/background/registration.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   }
   
   .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto; 
   
    &-heading {
     font-size: 2em;
     margin-bottom: 15px; 
    }
   
    &-inputs {
     display: flex;
     flex-direction: column;
     gap: 25px;
   
     input {
      border: 4px solid #ccc;
      border-radius: 18px;
      font-size: 0.9em;
      padding-left: 15px;
      box-sizing: border-box;
      width: 800px;
      height: 65px;
      font-family: 'NTSomic'; 
     }
    }
   
    &-buttons {
     display: flex;
     margin-top: 20px; 
     justify-content: space-between; 
     width: 800px; 
    }
   
    .back-link {
     text-decoration: none;
     color: #ffffff; 
     display: flex;
     align-items: last baseline;
     gap: 5px;
     font-size: 0.7em;
     font-family: 'NTSomic'; 
    }
   }
   
  
  