$main-theme: white; // сами главный цвет ваще
$text-color: rgb(255, 255, 255); // цвет текста
//$background-image: ('../../assets/img/background/registration.png');
$button-border-color: #ffffff09; // цвет бордюрчиков 
//$button-hover-color: rgb(207, 171, 171);// внутренность кнопки когда наводишь на неё мыш
$button-background-color: rgb(255, 255, 255); // внутренность кнопки
