$main-theme: #FFF8DC; // сами главный цвет ваще
$text-color: #8B4513; // цвет текста

$button-border-color: #DEB887; // цвет бордюрчиков 
$button-hover-color: #FFDEAD;// внутренность кнопки когда наводишь на неё мыш
$button-background-color: #FFE4C4; // внутренность кнопки